$color-primary: #be8238;
$color-secondary: #b56a1f;
$color-text: #fff;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
 font-size: 1rem;
 line-height: 1.5;
 min-height: 100vh;
 background: $color-primary;
 background: linear-gradient(332deg, $color-primary 0%, $color-secondary 100%);
 color: $color-text;
}

a,
li {
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
}
